<launch>
  <arg name="mav_name" default="firefly"/>
  <arg name="world_name" default="basic"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="1DoF_gimbal" default="false"/>
  <arg name="3DoF_gimbal" default="true"/>
  <arg name="horizontal_fov" default="1.3962634"/>

  <!--depth params-->
  <arg name="depth_frame_rate" default="30.0"/>
  <arg name="depth_min_range" default="0.01"/>
  <arg name="depth_max_range" default="10.0"/>
  <arg name="depth_width" default="640"/>
  <arg name="depth_height" default="480"/>

  <!--stereo params-->
  <arg name="stereo_frame_rate" default="30.0"/>
  <arg name="stereo_min_range" default="0.02"/>
  <arg name="stereo_max_range" default="30.0"/>
  <arg name="stereo_width" default="752"/>
  <arg name="stereo_height" default="480"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/>
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="true"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav_with_3DoF_gimbal.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="1DoF_gimbal" value="$(arg 1DoF_gimbal)"/>
      <arg name="3DoF_gimbal" value="$(arg 3DoF_gimbal)"/>
      <arg name="horizontal_fov" value="$(arg horizontal_fov)"/>
      <arg name="depth_frame_rate" value="$(arg depth_frame_rate)"/>
      <arg name="depth_min_range" value="$(arg depth_min_range)"/>
      <arg name="depth_max_range" value="$(arg depth_max_range)"/>
      <arg name="depth_width" value="$(arg depth_width)"/>
      <arg name="depth_height" value="$(arg depth_height)"/>
      <arg name="stereo_frame_rate" value="$(arg stereo_frame_rate)"/>
      <arg name="stereo_min_range" value="$(arg stereo_min_range)"/>
      <arg name="stereo_max_range" value="$(arg stereo_max_range)"/>
      <arg name="stereo_width" value="$(arg stereo_width)"/>
      <arg name="stereo_height" value="$(arg stereo_height)"/>
    </include>
    <node name="joy_node" pkg="joy" type="joy_node" />
    <node name="rotors_joy_interface" pkg="rotors_joy_interface" type="rotors_joy_interface" />
    <node name="roll_pitch_yawrate_thrust_controller_node" pkg="rotors_control" type="roll_pitch_yawrate_thrust_controller_node" output="screen">
      <rosparam
        command="load" file="$(find rotors_gazebo)/resource/roll_pitch_yawrate_thrust_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" />
  </group>
</launch>
